[Unit]
Description=ihatemoney ({{ ihatemoney_identifier }})
{% for service in ihatemoney_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ ihatemoney_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ ihatemoney_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
                --rm \
                --name={{ ihatemoney_identifier }} \
                --log-driver=none \
                --cap-drop=ALL \
                {% if ihatemoney_container_http_host_bind_port %}
                -p {{ ihatemoney_container_http_host_bind_port }}:{{ ihatemoney_container_http_port }} \
                {% endif %}
                --label-file={{ ihatemoney_base_path }}/labels \
                --network={{ ihatemoney_container_network }} \
                --mount type=bind,src={{ ihatemoney_data_path }},dst=/data \
                --env-file={{ ihatemoney_base_path }}/env \
                {% if ihatemoney_container_extra_arguments | length > 0 %}
                {{ ihatemoney_container_extra_arguments | join(' ') }} \
                {% endif %}
                {{ ihatemoney_container_image }}

{% for network in ihatemoney_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ ihatemoney_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ ihatemoney_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ ihatemoney_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ ihatemoney_identifier }} 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier={{ ihatemoney_identifier }}

[Install]
WantedBy=multi-user.target
